.mainHeader{

    position: sticky;
    top: 0;
    grid-area: MH;
    min-height: 70px;
    background-color: var(--cor-tertiary);
    color:var(--cor-white);
    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom: 2px solid rgba(94, 94, 94, 0.678);
}

