*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
   
    font-family: 'Roboto', sans-serif ;
    --cor-primary:#0E0D11;
    --cor-secondary:#1D1B22;
    --cor-tertiary:#342F4D;
    --cor-white:#FFF;
    --cor-black:#000;
    --cor-gray:#b8b3cf;
    --cor-success:#4E41F0;
    --cor-info:#d4974c;
    --cor-info-hover:#F7931B;
    --cor-warming:#E44C4E;
}

button{
    cursor: pointer;
}
.text{
    color: white;
}